*{
    width: auto;
    height: auto;
}

.container__noticia{
    position: absolute;
    top: 2000px;
}

.container__logo {
    width: 500px;
    height: 350px;
    padding: 30px;
}

.container__filmes{
    width: 500px;
    height: 350px;
    padding: 30px;
}

.container__series{
    width: 500px;
    height: 350px;
    padding: 30px;
}

.container__planos{
    width: 500px;
    height: 350px;
    padding: 30px;
}